body {
    background-color: #d8e2dc;
    margin: 0;
    padding: 40px none;
    color: #212121;

    font-family: Helvetica, sans-serif;

}

img {
    margin-top: 0%;
    margin-left: 20px;
    margin-right: 20px;
    clip-path: circle();
    /* clip the image in circular shape*/

}

h1 {
    color: #0a9396;
}

h3 {
    color: #0a9396;
}

hr {
    border-style: none;
    width: 5%;
    /* width between the individual pixel */
    border-width: 5px;
    /* color of the individual pixel */
    border-color: #f27370;
    border-top-style: dotted;
    margin-top: 5%;
    margin-bottom: 10%;


}

a {
    padding-top: 20px;
    text-decoration: none;
}

a:hover {
    color: #f27370;
}

.intro-table {
    width: 70%;
}

.width-80 {
    width: 91%;
}

.center-heading-block {
    margin: 0 auto;
    width: 50%;
    line-height: 2;
}

.center-title {



    margin: 0 0;
    text-align: center;


}

.center-table {
    margin: 0 auto;
}

.text-wrap {
    word-wrap: break-word;
}

.center-profile-table {
    width: 0 700px;
    display: inline;
}

.footer {
    position: static;
    padding: 20px 0;
    width: 100%;
    height: 120px;
    background-color: aliceblue;
}

.footer-text-color {
    color: #f27370;
    font-size: 25px;
}

.btn {
    background: #f0702b;
    background-image: -webkit-linear-gradient(top, #f0702b, #d6c44d);
    background-image: -moz-linear-gradient(top, #f0702b, #d6c44d);
    background-image: -ms-linear-gradient(top, #f0702b, #d6c44d);
    background-image: -o-linear-gradient(top, #f0702b, #d6c44d);
    background-image: linear-gradient(to bottom, #f0702b, #d6c44d);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}