body {
    background-color: #d8e2dc;
    margin: 40px none;
    padding: 40px none;

}

img {
    margin-top: 0%;
    margin-right: 10px;
    clip-path: circle(); /* clip the image in circular shape*/

}
h1{
color:#0a9396;
}
h3{
    color:#0a9396;
}
hr {
    border-style: none;
    width: 5%;
    /* width between the individual pixel */
    border-width: 5px;
    /* color of the individual pixel */
    border-color: #f27370;
    border-top-style: dotted;


}
